[submodule "repo/skin.arctic.fuse.mod"]
	path = repo/skin.arctic.fuse.mod
	url = https://github.com/OfficerKD637/skin.arctic.fuse.mod
[submodule "repo/resource.font.extrafonts"]
	path = repo/resource.font.extrafonts
	url = https://github.com/OfficerKD637/resource.font.extrafonts
